/**
 * @file
 * The majority of Drupal and style overrides unique to this theme.
 *
 */

/**
* GLOBAL
*/
body {
  background: #fff;
  color: #222;
  font-family: "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.pane-node-title,
.pane-node-field-subheadline,
.pane-node-field-tags {
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.05em;
}

h1,
.h1 {
  font-size: 1.6em;
  line-height: 1.3;
  margin-bottom: 15px;
}


h2,
.h2 {
  font-size: 1.4em;
  line-height: 1;
}
h3,
.h3 {
  font-size: 1.25em;
  line-height: 1.1;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.3;
}
p {
  font-size: .9em;
  line-height: 1.4em;
  margin: 0 0 1.0em 0;
}
p:last-child{
  margin: 0;
}
a {
  color: #01365e;
  text-decoration: none;
}
a:hover,
a:active,
li a.active  {
  color: #dc5b08;
}
a:focus {
  outline: 0 none;
}
a:hover,
a:active {
  outline: 0;
}
.field-name-body a{
  border-bottom: 1px dotted #01365e;
}
.field-name-body a:hover{
  border-bottom: 1px dotted #dc5b08;
}
strong {
  font-weight:bold;
}
em {
  font-style:italic;
}
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
hr {
  background: #666;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 0 0 1.4375em;
  width: 100%;
}
fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.4375em;
  padding: 1.5em;
}
table {
  margin-bottom: 1.5em;
  width: 100%;
}
th,
tr,
td {
  vertical-align: middle;
}
th {
  padding-right: 1em;
}
.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}
.field-name-body ul,
.field-name-body ol{
  font-size:0.9em;
}

/**
* LAYOUT
*/
#page {
  border-width: 0 1px 1px 1px;
  /* Using width + border can sometimes make elements wider than expected. */
  border: 1px solid #EEEEEE;
  margin: 0 auto;
  width: 960px;
}

/**
* HEADER
*/
#header{
  background: #2d638e;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
#site-name a{
  color: white;
  font-size: 30px;
  line-height: 64px;
}
#logo{
  float: left;
}
#main-wrapper{
  margin: 30px 0;
  padding: 0 20px;
}
#main-menu ul {
  background: #eeeeee;
  /* Using width + border can sometimes make elements wider than expected. */
  border: 1px solid #CCCCCC;
  clear: both;
  display: inline-block;
  list-style: none;
  margin-left: -9px;
  margin: 0;
  margin: 35px 0 0;
  padding: 0;
  width: 975px;
}
#main-menu ul li {
  background: #eeeeee;
  border-right: 1px solid #CCCCCC;
  -moz-box-shadow: 1px 0 0 #FFFFFF;
  -webkit-box-shadow: 1px 0 0 #FFFFFF;
  box-shadow: 1px 0 0 #FFFFFF;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main-menu ul li a {
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

/**
* FOOTER
*/
#footer{
  background: #0c3369;;
  color: white;
  padding: 20px;
}
